<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/act2.css">
    <title>Activity 2</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="title">
                <h1>Articles Website</h1>
            </div>
            <nav>
                    <ul>
                        <a href=""><li>Home</li></a>
                        <a href=""><li>About</li></a>
                        <a href=""><li>Services</li></a>
                        <a href=""><li>Contact</li></a>
                    </ul>
                </nav>
        </header>
        <section class="article-content">
            <div class="content-item">
                <h1>Article 1 Title</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae dolore doloribus totam sapiente sit a.</p>
            </div>
            <div class="content-item">
                <h1>Article 2 Title</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae dolore doloribus totam sapiente sit a.</p>
            </div>
            <div class="content-item">
                <h1>Article 3 Title</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae dolore doloribus totam sapiente sit a.</p>
            </div>
        </section>
        <section class="aside">
            <div class="aside-item">
                <h2>Aside Title</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae dolore doloribus totam sapiente sit a.</p>
            </div>
        </section>
        <section class="gallery">
            <div class="gallery-item">
                <img src="../assets/images/picture.jpg" alt="image">
                <h1>Article 1 Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>Read more</button>
            </div>
            <div class="gallery-item">
                <img src="../assets/images/picture.jpg" alt="image">
                <h1>Article 2 Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>Read more</button>
            </div>
            <div class="gallery-item">
                <img src="../assets/images/picture.jpg" alt="image">
                <h1>Article 3 Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>Read more</button>
            </div>
            <div class="gallery-item">
                <img src="../assets/images/picture.jpg" alt="image">
                <h1>Article 4 Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>Read more</button>
            </div>
            <div class="gallery-item">
                <img src="../assets/images/picture.jpg" alt="image">
                <h1>Article 5 Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>Read more</button>
            </div>
            <div class="gallery-item">
                <img src="../assets/images/picture.jpg" alt="image">
                <h1>Article 6 Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>Read more</button>
            </div>
            <div class="gallery-item">
                <img src="../assets/images/picture.jpg" alt="image">
                <h1>Article 7 Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>Read more</button>
            </div>
            <div class="gallery-item">
                <img src="../assets/images/picture.jpg" alt="image">
                <h1>Article 8 Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>Read more</button>
            </div>
            <div class="gallery-item">
                <img src="../assets/images/picture.jpg" alt="image">
                <h1>Article 9 Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>Read more</button>
            </div>
        </section>
        <section class="comment">
            <p>Add a comment:</p>
            <input type="text" />
            <button>Add Comment</button>
        </section>
        <footer>
            <p>Website Footer</p>
        </footer>
    </div>
</body>
</html>